body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 90%;
    max-width: 800px;
    background-color: #34495e;
    border-radius: 8px;
    padding: 20px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    overflow: auto;
    max-height: 90vh;
}

h1, h2, h3 {
    color: #e74c3c;
    text-align: center;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

p, .opciones {
    line-height: 1.6;
    font-size: 1.1em;
    margin-bottom: 20px;
    text-align: justify;
}

.opciones {
    padding: 15px;
    background-color: #e67e22;
    border-radius: 8px;
    color: #2c3e50;
    margin-top: 20px;
    font-weight: bold;
}

.opciones::before {
    content: "Opciones de Juego:";
    display: block;
    font-size: 1.5em;
    color: #e74c3c;
    margin-bottom: 10px;
    text-align: center;
}

.contenedor > div {
    margin-bottom: 40px;
}

.contenedor > div:last-child {
    margin-bottom: 0;
}

.boton_inicio{
    position: absolute;
    margin-left: 66rem;
    margin-top: 20rem;
    font-size: 20px;
    border-radius: 30px;
    background-color: #e67e22;
    border: 2px solid black;
    cursor: pointer;
}

.boton_inicio a{
    text-decoration: none;
    color: #34495e;
}

.boton_inicio:hover{
    transition: 0.5s;
    transform: scale(1.5 ) rotate(360deg);
    border: 2px solid #ecf0f1;
}